mixin imgLinks(link, source, width, height, alt)
    a(href=link)
        img.header__img(src=source, width=width, height=height, alt=alt)

.header__logo
    +imgLinks('index.html', '/assets/img/logo.svg', '40px', '40px', 'Toxin logo' )
    +imgLinks('index.html', '/assets/img/logoText.svg', '53px', '13px', 'Toxin' )
