mixin imgLinks(link, source, width, height, alt)
    a(href=link class="header__logo-link")
        img.header__img(src=source, width=width, height=height, alt=alt)

.header__logo
    +imgLinks('index.html', '/assets/img/logo.svg', '40px', '40px', 'Toxin logo' )
    +imgLinks('index.html', '/assets/img/logoText.svg', '54px', '18px', 'Toxin' )
