include ../dropdown/dropdown

- var classes = ['header__nav', 'nav'];
- var list = [{text:'О нас', isDropdown: false}, {text:'Услуги', isDropdown: true}, {text:'Вакансии', isDropdown: false}, {text:'Новости', isDropdown: false}, {text:'Соглашения', isDropdown: true}]
mixin navItem(itemClass, dropdown, item)
    if dropdown
        li(class=itemClass data-attribute= 'dropdown')
            +dropdown("a", "nav__link", item)
            .nav__link-content
                - for (var x = 0; x < 3; x++)
                    a(href="#") link #{x + 1}

    else
        li(class=itemClass)
            a(class="nav__link" href="#")= item

nav(class=classes)
    ul.nav__list
        each item in list
            +navItem('nav__item', item.isDropdown, item.text)
